<head>
    <title>
        Puzzle
    </title>
</head>
<body>
<h1>Puzzle</h1>
<div style="border-style: solid;border-width: thick;">
    <h2> <%=puzzle.title%></h2>
    <div>
        <%-puzzle.description%>
    </div>
</div>
<div style="border-style: solid;border-width: thick;border-color: red">
<div>
    <%-puzzle.feedback%>
</div>
</div>
<form action="<%=puzzle.id%>?_method=PUT" method="post">
    <input name="title" placeholder="title" value="<%=puzzle.title%>">
    <input name="level" placeholder="level" value="<%=puzzle.level%>">
    <input name="feedback" placeholder="feedback" value="<%=puzzle.feedback%>">
    <textarea name="description" placeholder="description"><%=puzzle.description%></textarea>
    <textarea name="solution" placeholder="solution"><%=puzzle.solution%></textarea>
    <br>
    <%for(var i=0; i < puzzle.level; i++){ %>
        <label>hint<%=i%></label>
        <input name="hints<%i%>" placeholder="hint<%=i%>" value="<%=puzzle.hints[i]%>">
    <%}%>
    <button type="submit">Update</button>
</form>
<form action="<%=puzzle.id%>?_method=DELETE" method="post">
    <button type="submit">Delete</button>
</form>
</body>