<head>
    <title>
        Puzzle
    </title>
</head>
<body>
<h1>Show</h1>
<div style="border-style: solid;border-width: thick;">
    <h2> <%=puzzle.title%></h2>
    <div>
        <%-puzzle.description%>
    </div>
    <div>
        <%-puzzle.feedback%>
    </div>
</div>
<form action="<%=puzzle.id%>?_method=PUT" method="post">
    <input name="title" placeholder="title" value="<%=puzzle.title%>">
    <textarea name="description" placeholder="description"><%=puzzle.description%></textarea>
    <textarea name="feedback" placeholder="feedback"><%=puzzle.feedback%></textarea>
    <textarea name="solution" placeholder="solution"><%=puzzle.solution%></textarea>
    <button type="submit">Update</button>
</form>
<form action="<%=puzzle.id%>?_method=DELETE" method="post">
    <button type="submit">Delete</button>
</form>
</body>