<head>
    <title>Maze Puzzle</title>
</head>
<body>
<h3>Maze Puzzle</h3>
<h4>Puzzle:</h4>
<a href="/admin/puzzle/<%=mazePuzzle.puzzle.id%>"><p><%=mazePuzzle.title%></p></a>
<img src="<%=mazePuzzle.qrImage%>">
<h3>Prerequisites</h3>
<ul>
    <%mazePuzzle.prerequisites.forEach(function(p){%>
    <li>
        <div>
            <a href="/admin/puzzle/<%=p.puzzle.id%>">
            <h3><%=p.title%></h3>
            </a>
        </div>
        <form action="/admin/maze/puzzles/<%=mazePuzzle.id%>/prerequisites/<%=p.id%>?_method=DELETE" method="post">
            <button type="submit">Remove</button>
        </form>
    </li>
    <%})%>
</ul>
<form action="/admin/maze/puzzles/<%=mazePuzzle.id%>/prerequisites" method="post">
    <select name="mazePuzzleId">
        <% mazePuzzles.forEach(p=>{ %>
        <option value="<%= p.id %>">
            <%= p.title %>
        </option>
        <% }) %>
    </select>
    <button type="submit">Add Prerequisite</button>
</form>
<h3>Feedbacks</h3>
<ul>
    <%mazePuzzle.feedbacks.forEach(function(p){%>
    <li>
        <div>
            <h3><%=p.location%></h3>
        </div>
        <form action="/admin/maze/puzzles/<%=mazePuzzle.id%>/feedbacks/<%=p.id%>?_method=DELETE" method="post">
            <button type="submit">Remove</button>
        </form>
    </li>
    <%})%>
</ul>
<form action="/admin/maze/puzzles/<%=mazePuzzle.id%>/feedbacks" method="post">
    <select name="feedbackId">
        <% mazePuzzles.forEach(p=>{ %>
        <option value="<%= p.location %>">
            <%= p.location %>
        </option>
        <% }) %>
    </select>
    <button type="submit">Add Feedback</button>
</form>
</body>